.place-holder{
	background-color: black;
	/*border: 1px solid red;*/
}

/*
--------------------format
*/

/*
red
#ee564b

yellow
#feec6e

green
#31a6b8

dark grey
#3f4346
white
#f3f5f0
*/

.bg-white{
	background-color: #f3f5f0;
}
.bg-mustard{
	background-color: #feec6e;
	/*background-color: #00ff00;*/
	color: #206b77;
}
.bg-mustard.hide-bg{
	background-color: transparent;
}
.bg-sam{
	background-color: #ee564b;
	color: #feec6e;
}
.bg-green{
	background-color: #31a6b8;
	color: #feec6e;
}

body{
	background-color: #feec6e;
	/*background-color: #00ff00;*/
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	margin: 0;
	color:#292c2d;
	line-height: 1.2em;
}

h1{
	font-weight: 400;
	/*font-style: italic;*/
	margin: 0;
	font-size: 1.8em;
}
.img-header{
	height: 3em;
}
div{
	box-sizing: border-box;
}
p{
	margin-top: 0;
	/*font-size: 1.2em;*/
}
.col-full.header-pad{
	margin-bottom: 2em;
}

.details{
	/*font-sze: 24px;*/
	font-size: 1.3em;
	line-height: 1.3em;
	font-style: italic;
	/*font-weight: 600;*/
	margin-bottom: 1em;
}


/*.inline-square:before{
	content:'';
	float:left;
	padding-top:100%;
}*/

.section{
	/*margin: auto;*/
	/*width: 100%;*/
	min-width: 460px;
}
.container{
	box-sizing: border-box;
	padding: 1em 1em 1.5em 1em;
	min-width: 460px;
	max-width: 900px;
	margin: auto;
}

#a-summit{
	width: 78%;
	display: block;
	margin-bottom: 1.5em;
}
#header-bg{
	width: 90%;
	min-width: 420px;
	max-width: 1000px;
	position: absolute;
	top:0;
	z-index:-2;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*opacity: 0.5;*/
}
/*.cols{
	display: flex;

}
.two-col{
	flex:1 1 50%;
	padding-right: 10px;
}*/

.cols{
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;

	display: flex;
	flex-wrap: wrap;
}

.cols .col1-3{
	-webkit-flex:0 0 33.33%;
	flex:0 0 33.33%;
}
.cols .col2-3{
	-webkit-flex:0 0 66.66%;
	flex:0 0 66.66%;
	padding-right: 1.5em;
}
.cols .col-full{
	-webkit-flex:0 0 100%;
	flex:0 0 100%;
}

#locations .cols .col1-3{
	padding-right: 1em;
}

.container a{
	/*background-color: #000000;*/
	padding: 5px 10px;
	/*color: white;*/
	display: inline-block;
	text-decoration: none;
	margin-bottom: 5px;
}
.bg-mustard a{
	background-color: #31a6b8;
	color: #feec6e;
}
.bg-mustard a:hover{
	background-color: #ee564b;
}
.bg-white a{
	background-color: #31a6b8;
	color: #feec6e;
}
.bg-white a:hover{
	background-color: #ee564b;
}
.bg-sam a{
	background-color: #feec6e;
	color: #ee564b;
}
.bg-sam a:hover{
	color: #31a6b8
}

h1.no-details{
	margin-bottom: 1em;
}

/*
--------------------thress js
*/

.over-3d{
	z-index: 2;
	position: relative;
}

/*
--------------------header
*/
#header-graphic{
	text-align: center;
	width: 100%;
	/*height: 600px;*/
	/*max-width: 1100px;*/
	padding-top: 0px;
}

#charrette-graphic{
	box-sizing: border-box;
	max-width: 400px;
	max-height: 400px;
	background-color: #ee564b;
	overflow: hidden;
	position: relative;
	border-radius: 100%;
	width: 100%;
	line-height: 0;
}
#archive-graphics{
	max-width: 900px;
	margin: auto;
}

/*
--------------------location
*/

.location{
	margin-bottom: 20px;
}
.location span{
	display: block;
}

#map{
	height: 500px;
}

/*
--------------------sponsors
*/
.sponsor{
	margin-bottom: 10px;
}
.logo{
	/*background-color: red;*/
	height: 100px;
	/*max-height: 200px;*/
	/*float: left;*/
	/*margin-right: 10px;*/
	margin-bottom: 1em;
}
.logo img{
	height:100%;
}
#knight-logo{
	max-width: 400px;
	margin-bottom: 1em;
}
#knight-logo img{
	width: 100%;
	/*height:100%;*/
}

/*
--------------------archive
*/
#archive-graphics{
	/*height: 400px;*/
	min-height: 20px;
}
ul{
	list-style: none;
	padding:0px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 480px) {
	.cols .col2-3{
		-webkit-flex:0 0 100%;
		flex:0 0 100%;
	}
	.cols .col1-3{
		-webkit-flex:0 0 80%;
		flex:0 0 80%;
	}
	#map{
		height: 350px;
	}
}